h1{
    color: green;
    font-size: 2em;
}

.red{
    color: red;
    font-size: 2em; 
}

#hello{
    color: blue;
    font-size: 2em;
}

h1#hello{
    color: blueviolet;
}

h1.red{
    color: coral;
}

div.one + h1.red{
    color:yellow;
}

#hello:hover{
    color: goldenrod;
}

#hello::first-letter{
    color: black;
}
